body{
    background-image: url('../img/bg.png');
    background-position: center;
    background-attachment: fixed;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#faixa {

    position: relative;
    top: 10px;
    z-index:-1;

}

#itens {
    display: flex;
    background-color: #f6f6f6;
    width: 750px;
    height: 90%;
    top: 19%;
    bottom: 10px;
    position: absolute;
    box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.589);
    z-index:-2;
    border-radius: 30px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;

}
#texto {
    position: relative;
    width: 45%;
}
#cha {
    position: relative;
    width: 70%;
}
#cha {
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 950ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards; 
}
.infos {
    position: relative;
    width: 40%;
    top: 17%;
    right: 25%;
}
#gif {
    width: 50%;
}
#local {
    top: 8%;
    left: 25%;
}
#local2 {
    top: -87;
    left: 27%;
    z-index: 1;
    width: 27%;
}
#mapa {
    position: relative;
    width: 282px; 
    height: 155px;
    border:0;
    z-index: 1;
    top: -52px;
    left: 205.6px;
}
#local2 {
    top: -270px;
    left: 27%;
    z-index: 1;
    width: 27%;
}
@keyframes bounceIn{
    0%{
      opacity: 0;
      transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.1);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
  }

@media screen and (min-width:10px){

    #faixa {
        width: 443.8;
        
    }
    #itens{
        width: 340px;
        height: 1200px;
        top: 10%;
    }
    #texto {
        top: 14%;
        width: 45%;
    }
    #cha {
        top: 15%;
        width: 70%;
    }
    #mapa {

        width: 105.5px; 
        height: 58px;
        border:0;
        z-index: 1;
        top: 19.5px;
        left: 77.3px;
    }
    #local2 {

        top: -61;
        left: 27%;
        z-index: 1;
        width: 27%;
    }
   
}
@media screen and (min-width:500px){
    #faixa {
        width: 588;

    }
    #itens{
        width: 450px;
        height: 1500px;
        top: 12%;
    }
    #mapa {
        position: relative;
        width: 140px; 
        height: 75px;
        border:0;
        z-index: 1;
        top: 19.5px;
        left: 103px;
    }
    #local2 {
        top: -87;
        left: 27%;
        z-index: 1;
        width: 27%;
    }
    
}
@media screen and (min-width:768px){
    #faixa {
        width: 980;
    }
    #itens{
        width: 750px;
        height: 2500px;
        top: 21%;
    }
    #mapa {
        position: relative;
        width: 140px; 
        height: 75px;
        border:0;
        z-index: 1;
        top: 19.5px;
        left: 103px;
    }
    #local2 {
        top: -87;
        left: 27%;
        z-index: 1;
        width: 27%;
    }
   
}

@media screen and (min-width:960px){
    #faixa {
        width: 1176;

    }
    #itens{
        width: 900px;
        height: 2500px;
        top: 26%;
     }
     #texto {
        top: 15%;
        width: 45%;
    }
    #cha {
        top: 17%;
        width: 70%;
    }
    #local {
        top: 6%;
    }
    #mapa {
        position: relative;
        width: 282px; 
        height: 155px;
        border:0;
        z-index: 1;
        top: -52px;
        left: 205.6px;
    }
    #local2 {
        top: -270px;
        left: 27%;
        z-index: 1;
        width: 27%;
    }

}
