body{
    background-image: url('../img/bg.png');
    background-position: center;
    background-attachment: fixed;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#faixa {

    position: relative;
    top: 10px;
    z-index:-1;

}
#pluto {
    width: 25%;
    position: absolute;
    top: 5px;
}
#itens {
    display: flex;
    background-color: #f6f6f6;
    width: 750px;
    height: 90%;
    top: 19%;
    bottom: 10px;
    position: absolute;
    box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.589);
    z-index:-2;
    border-radius: 30px;

}


@keyframes bounceIn{
    0%{
      opacity: 0;
      transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.1);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
  }

  @media screen and (min-width:10px){
    #pluto {
        width: 140px;

    }
    #faixa {
        width: 482.8;
        left: 1.38px;

    }
    #itens{
        width: 370px;
        height: 1200px;
        top: 10%;
    }
    #texto {
        top: 13%;
    }
    #nomes{
        left: 59px;
    }
    #p1 {
        left: 50px;
    }
    .endereco {
        left: 100px;
    }
    .grifo {
        right: 59px;
    }
    #iniciais {
        left: 100px;
    }
    #cp {
        left: 77px;
    }
    #ia {
        right: 77px;
    }
    #lista {
        right: 159.5px;
    }
}
@media screen and (min-width:500px){
    #pluto {
        width: 185px;
        right: 60px;
    }
    #faixa {
        width: 588.52;
        left: 1.5px;

    }
    #itens{
        width: 450px;
        height: 1500px;
        top: 12%;
    }
    #texto {
        top: 13%;
    }
    #nomes{
        left: 74.5px;
    }
    #p1 {
        left: 73px;
    }
    .endereco {
        left: 125px;
    }
    .grifo {
        right: 75px;
    }
    #iniciais {
        left: 125;
    }
    #cp {
        left: 100px;
    }
    #ia {
        right: 100px;
    }
    #lista {
        right: 200px;
    }
}
@media screen and (min-width:768px){
    #pluto {
        width: 255px;
        left: 62%;
    }
    #faixa {
        width: 980.29;
        left: 2.14px;
    }
    #itens{
        width: 750px;
        height: 2500px;
        top: 21%;
    }
    #nomes{
        left: 111px;
    }
    #p1 {
        left: 110px;
    }
    .endereco {
        left: 188px;
    }
    .grifo {
        right: 112.5;
    }
    #iniciais {
        left: 187.5;
    }
    #cp {
        left: 147px;
    }
    #ia {
        right: 147px;
    }
    #lista {
        right: 300px;
    }
}
@media screen and (min-width:1300px){
    #pluto {
        width: 275px;
        left: 59%;
    }
    #faixa {
        width: 1176.35;
        left: 2.2px;

    }
    #itens{
        width: 900px;
        height: 2500px;
        top: 26%;
     }
     #texto {
         top: 13%;
     }
    #nomes{
        left: 135px;
    }
    #p1 {
        left: 133px;
    }
    .endereco {
        left: 236.5px;
    }
    .grifo {
        right: 135;
    }
    #iniciais {
        left: 225;
    }
    #cp {
        left: 177px;
    }
    #ia {
        right: 177px;
    }
    #lista {
        right: 360px;
    }
}
