@charset "UTF-8";
body{
    background-image: url('../img/bg.png');
    background-position: center;
    background-attachment: fixed;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#faixa {

    position: relative;
    top: 0px;
    z-index:1;

}
#itens {
    display: flex;
    background-color: #f6f6f6;
    width: 750px;
    height: 90%;
    top: 19%;
    bottom: 10px;
    position: absolute;
    box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.589);
    
    border-radius: 30px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;

}
#cha {
    position: relative;
    width: 70%;
    top: 10%;
}
#cha {
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 950ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards; 
}

#gif {
    width: 50%;
    position: relative;
    top: 11%;
}
.infos {
    position: relative;
    width: 40%;
    top: 13%;
    right: 21%;
}
.infos {
    transition: all 0.5s;
    cursor: pointer;
}
.infos:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
#local {
    position: relative;
    top: 75%;
    right: 0%;
    left: 55%;
}


#rsvp {
    position: relative;
    width: 80%;
    top: 7%;
}

.rsvp {
    position: relative;
    width: 32%;
    top: 35%;
    left: 30px;
   
}
.rsvp {
    transition: all 0.5s;
    cursor: pointer;
}
.rsvp:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.25);
}
#ia {
    left: 121px;
    top: -70%;
}

#fraldas {
    width: 50%;
    position: relative;
    top: 5%;
    animation: bounce 2s infinite;
}
#spotify {
    position: relative;
    top: -5%;
}
#bottomImg {
    width: 60%;
    position: relative;
    bottom: -6.5%;
}


@keyframes bounce{
    0%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
    50%{
      opacity: 1;
      transform: scale(1.07);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
}

@keyframes bounceIn{
    0%{
      opacity: 0;
      transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.1);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
}

@media screen and (min-width:41px){

    #faixa {
        width: 326.5px;   
    }
    #itens{
        width: 250px;
        height: 880px;
        top: 7.5%;
        
    }
    #cha {
        top: 12%;
        width: 70%;
    }
    #gif{
        top: 12%;
    }
    #data{
        top: 14%;
    }
    #local {
        top: 60%;
    }
    #rsvp {
        top: 7%;
    }
    .rsvp {
        width: 27%;
        left: 18%;
        top: 10%;
    }
    #ia {
        top: -100%;
        left: 120px;
    }
    #fraldas {
        width: 65%;
        top: 2%;
    }
   #spotify{
       display: none;
   }
   #mapa {
       display: none;
   }
   #bottomImg {
        bottom: -5%;
   }
}

@media screen and (min-width:500px){
    #faixa {
        width: 588;

    }
    #itens{
        width: 450px;
        height: 1600px;
        top: 20%;
    }
    #cha {
        top: 13%;
        width: 70%;
    }
    #gif {
        top: 14%;
    }
    #data{
        top: 15.2%;
    }
    #local{
        top: 75%;
    }
    #rsvp{
        top: 9%;
    }
    .rsvp {
        position: relative;
        width: 50%;
        top: 50%;
        left: -20px;
    }
    #ia {
        top: -50%;
        left: 129px;
    
    }
    #fraldas {
        top: 1%;
    }
    #bottomImg {
        bottom: -90px;
   }
}
@media screen and (min-width:960px){
    #faixa {
        width: 1000px;

    }
    #itens{
        width: 765px;
        height: 2500px;
        top: 33.5%;
     }
    #cha {
        top: 13%;
        width: 70%;
    }
    #gif {
        top: 13.5%;
    }
    #local {
        top: 67%;
        width: 55.5%;
    }
    .rsvp {
        position: relative;
        width: 65%;
        top: 75px;;
        left: -100px;
       
    }
    #ia {
        top: -20px;
        left: 175px;
    
    }
    #fraldas {
        top: 6.5%;
        width: 30%;
        right: 25%;
    }
 
    #spotify{
        position: relative;
        left: 22%;
        top: -7%;
        display: block;
    }
    #mapa {
        position: relative;
        left: 22%;
        top: -6.5%;
        display: block;
    }
    #bottomImg {
        bottom: -9px;
   }
}
@media screen and (min-width:401px) and  (min-height:800px) {
    #itens{
        top: 8.5%;
     }
}
@media screen and (min-width:500px) and  (min-height:600px) {
    #itens{
        top: 14%;
     }
}
@media screen and (min-width:900px) and  (min-height:940px) {
    #itens{
        top: 11%;
     }
}